//
//  Analyzer.xcconfig
//  AirPlayStoryboards
//
//  Created by Dan Zinngrabe on 1/12/15.
//  Copyright (c) 2015 Dan Zinngrabe. All rights reserved.
//

RUN_CLANG_STATIC_ANALYZER = YES

WARNING_CFLAGS = $(inherited) -Xclang -analyzer-checker -Xclang alpha.osx.cocoa.DirectIvarAssignment -Xclang -analyzer-checker -Xclang alpha.core.BoolAssignment -Xclang -analyzer-checker -Xclang alpha.core.CastSize -Xclang -analyzer-checker -Xclang alpha.core.CastToStruct -Xclang -analyzer-checker -Xclang alpha.core.FixedAddr -Xclang -analyzer-checker -Xclang alpha.core.SizeofPtr -Xclang -analyzer-checker -Xclang alpha.security.ArrayBoundV2

CLANG_WARN__DUPLICATE_METHOD_MATCH = YES
CLANG_WARN_ENUM_CONVERSION = YES
// Hmm this doesnt seem to like (foo | bar)
//CLANG_WARN_ASSIGN_ENUM = YES
CLANG_WARN_INT_CONVERSION = YES
CLANG_WARN_IMPLICIT_SIGN_CONVERSION = YES
CLANG_WARN_CONSTANT_CONVERSION = YE
CLANG_WARN_OBJC_MISSING_PROPERTY_SYNTHESIS = YES
CLANG_WARN_UNREACHABLE_CODE = YES

CLANG_WARN_OBJC_MISSING_PROPERTY_SYNTHESIS = YES
CLANG_WARN_OBJC_IMPLICIT_ATOMIC_PROPERTIES = YES
CLANG_WARN_DEPRECATED_OBJC_IMPLEMENTATIONS = YES
// ?
GCC_WARN_ALLOW_INCOMPLETE_PROTOCOL         = YES
GCC_WARN_STRICT_SELECTOR_MATCH             = YES
CLANG_ANALYZER_OBJC_NSCFERROR              = YES
CLANG_ANALYZER_OBJC_COLLECTIONS            = YES
CLANG_ANALYZER_OBJC_ATSYNC                 = YES
CLANG_WARN_OBJC_CONTAINERS_OUTOFBOUNDS     = YES
CLANG_WARN_OBJCPP_ARC_ABI = YES
CLANG_WARN__DUPLICATE_METHOD_MATCH = YES

// Security
CLANG_ANALYZER_SECURITY_FLOATLOOPCOUNTER			= YES
CLANG_ANALYZER_SECURITY_INSECUREAPI_UNCHECKEDRETURN	= YES
CLANG_ANALYZER_SECURITY_INSECUREAPI_GETPW_GETS		= YES
CLANG_ANALYZER_SECURITY_INSECUREAPI_MKSTEMP			= YES
CLANG_ANALYZER_SECURITY_INSECUREAPI_RAND			= YES
CLANG_ANALYZER_SECURITY_INSECUREAPI_STRCPY			= YES

CLANG_ANALYZER_GCD  = YES
CLANG_ANALYZER_MALLOC = YES


CLANG_WARN_DOCUMENTATION_COMMENTS = YES
CLANG_WARN_BOOL_CONVERSION = YES
CLANG_WARN_IMPLICIT_SIGN_CONVERSION = YES
CLANG_WARN_SUSPICIOUS_IMPLICIT_CONVERSION = YES

// ARC
CLANG_WARN_OBJC_EXPLICIT_OWNERSHIP_TYPE = YES
CLANG_WARN_OBJC_IMPLICIT_RETAIN_SELF = YES
CLANG_WARN_OBJC_REPEATED_USE_OF_WEAK = YES
CLANG_WARN_OBJC_RECEIVER_WEAK = YES

CLANG_STATIC_ANALYZER_MODE = shallow
CLANG_STATIC_ANALYZER_MODE_ON_ANALYZE_ACTION = deep
ENABLE_NS_ASSERTIONS = YES

CLANG_ENABLE_MODULES = YES
CLANG_ENABLE_MODULES[sdk=iphoneos7] = YES
CLANG_ENABLE_MODULES[sdk=macosx10.9] = YES

CLANG_MODULES_AUTOLINK = YES
CLANG_MODULES_AUTOLINK[sdk=iphoneos7] = YES
CLANG_MODULES_AUTOLINK[sdk=macosx10.9] = YES

CLANG_WARN_DOCUMENTATION_COMMENTS = YES